.per{
  margin-left: 140px;
  margin-top: 50px;
}
.agre{
  margin-left: 115px;
  margin-top: 50px;
}
.eli{
  margin-left: 115px;
  margin-top: 50px;
}
.res{
  margin-left: 99px;
  margin-top: 50px;
}
.info{
  margin-left: 110px;
  margin-top: 50px;
}